#blossom-container {
  background-color: transparent;
  position: relative;
  /* width: calc(100% - 40px);
  height: calc(100% - 40px); */
}

.petal {
  display: none;
  /* background: url(https://github.com/dark-shad/etamax_imagaes/blob/main/hoja-removebg-preview1.png?raw=true) no-repeat; */
}
.petal.petal-style1 {
  width: 100px;
  height: 40px;
  background-position: -31px 0;
}
.petal.petal-style2 {
  width: 105px;
  height: 45px;
  background-position: 0 -23px;
}
.petal.petal-style3 {
  width: 109px;
  height: 49px;
  background-position: 0 -50px;
}
.petal.petal-style4 {
  width: 100px;
  height: 44px;
  background-position: -49px -35px;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  position:fixed;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #7A5980;
  /* border: 6px solid rgba(0,0,0,0.2); */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #7A5980;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #f3caca;
  border-radius: 100px;
}

.sponsor-image {
  border-radius: 2rem;
}

/* Swiper */
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
}

.swiper-pagination-bullet-active {
  background: #ff009d !important;
  width: 12px !important;
  height: 12px !important;
}
.footerLine{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
/* .section::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
} */


@media screen and (max-width: 768px) {
  html::-webkit-scrollbar {
    display: none;
    width: 0%;
  }

  .custom-scrollbar::-webkit-scrollbar {
    display: none;
    width: 0%;
  }

  body::-webkit-scrollbar-track {
    display: none;
    width: 0%;
  }

  body::-webkit-scrollbar-thumb {
    border-radius: 0px;
    display: none;
  }

  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .mobileBg{
    content:url("https://github.com/dark-shad/etamax_imagaes/blob/main/udaan%20fone.png?raw=true") !important;
    z-index: -2;
  }
  .css-1xl3hdo{
    background-image: url("https://github.com/dark-shad/etamax_imagaes/blob/main/udaan%20fone.png?raw=true") !important;
  }
}
.box1Checkout{
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.28) !important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  border: 1px solid rgba(255, 255, 255, 0.41);
}

/* etamax style */
marquee{
  background-color: yellow;
  height: 2rem;
  font-weight: bolder;
  line-height: 2rem;
  position:fixed;
}

marquee div{
  display: flex;
  justify-content: space-around;

}


/* marquee div p{
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
      opacity: 0;
  }
} */



/* Featured */

* {
  box-sizing: border-box;
}


.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}
.item {
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}


  


